*{
    background: #191919;
    color: #FFFFFF;
    font-size: 120%px;
    font-family: Arial;
}
.dvosh{
  background-image: url('kk.ico');
  width: 150px;
  background-repeat: no-repeat;
  background-size: 30px;
  border-radius: 10px;
}
.dvosh2{
  width: 150px;
  background-size: 30px;
  border-radius: 10px;
}
#butt{
  width: 20px;
  height: 18px;
}
