* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%
}
body {
    background: #142E31;
    background: -webkit-linear-gradient(-45deg, #35577D, #141E31);
    background: linear-gradient(-45deg, #35577D, #141E31);
    height: 100%;
    width: 100%
    overflow-x: hidden; 
    max-width: 100%;
}

header {
    background-color: #35577D;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: white;
    max-width: 100%;
    padding: 20px;
    text-align: center;
}

.header-bg {
    text-align: center;
    max-width: 100%;
}

.wrapper {
    position: relative;
    min-height: 100%;
    max-width: 100%;
}

.content {
    position: absolute;
    height: 75%;
    top: 11.46%;
    left: 25%;
    right: 25%;
    font-family: Arial;
    font-size: 14px;
    padding: 20px;
    font-weight: bold;
    background-color: #140E31;
    color: white;
    text-align: center;
    max-width: 100%;
    border-left: 2px solid red;
    border-right: 2px solid red;
}

.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 20px;
    background-color: #141E31;
    color: white;
    max-width: 100%;
}

.footer h1 {
    position: relative;
    text-align: center;
    font-family: georgian;
    font-size: 20px;
    font-weight: bold;
    padding: 7px;
    color: red;
    max-width: 100%;
}

.block2 {
    display: block;
    position: absolute;
    height: 100px;
    width: 350px;
    bottom: 40%;
    left: 49%;
    right: 25%;
    font-family: Arial;
    font-size: 14px;
    padding: 20px;
    font-weight: bold;
    background-color: blue;
    color: white;
    text-align: center;
    max-width: 100%;
    z-index: 1;
}

.block2 p {
    position: relative;
    bottom: 17%;
    font-family: Arial;
    font-size: 14px;
    padding: 10px;
    font-weight: bold;
    color: red;
    text-align: center;
    max-width: 100%;
    z-index: 1;
}

.block1 {
    display: block;
    position: absolute;
    height: 100px;
    width: 350px;
    bottom: 30%;
    left: 32%;
    right: 45%;
    font-family: Arial;
    font-size: 14px;
    padding: 20px;
    font-weight: bold;
    background-color: red;
    color: white;
    text-align: center;
    max-width: 100%;
    z-index: 2;
}

.block1 img {
    position: relative;
    bottom: 16%;
    height: 70px;
    width: auto;
    padding: 20px;
    z-index: 2;
}

.buttons {
    display: inline-block;
    margin-right: 20px;
}

a {
    font-family: Helvetica;
    font-size: 20px;
    padding: 15px;
    font-weight: bold;
    color: blue;
}
